<div style="text-align: center; background-color: #559cff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Lab 02 - Introduction To Data Science @ FIT-HCMUS, VNU-HCM 📌
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Preprocessing
</div>

## Import

In [56]:
import os
import sys
import json
import ast

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

## Exploring data

### Combine raw data into dataframes for both video and comment sections

In [57]:
raw_data_path = '../data/raw/'

with open('../data/external/channel_id_Phuc.json', 'r') as file:
    channel_id_phuc = json.load(file)

with open('../data/external/channel_id_nam.json', 'r') as file:
    channel_id_nam = json.load(file)

list_df_videos = []
list_df_comments = []


for channel, id in channel_id_nam.items():
    list_df_videos.append(pd.read_csv(raw_data_path + channel + '_videos.csv'))
    list_df_comments.append(pd.read_csv(raw_data_path + channel + '_comments.csv', \
                                        lineterminator='\n'))
   
# If the line
    
df_videos = pd.concat(list_df_videos, ignore_index = True)
df_comments = pd.concat(list_df_comments, ignore_index = True)

In [58]:
df_comments[df_comments['video_id'].isna()]

Empty DataFrame
Columns: [Comment_id, author, Reply_for, Type, video_id, total_reply, like_count, published_at, textdisplay, updatedat]
Index: []

In [59]:
df_videos.head()

,playlist_id,video_id,title,published,view_count,like_count,comment_count,duration,definition,tags,default_audio_language,madeforkid,playlist_title,channel_id,channelTitle,playlist_published,playlist_numvideo
0,PLeo1K3hjS3uufBJODNXMY2VuDpFWrDJ3L,in3IB45YEgY,B.Com to Data Analytics Transition,2023-03-18T13:30:10Z,15313,495.0,42.0,PT29M27S,hd,"['yt:cc=on', 'B.Com to Data Analytics Transiti...",en,False,Non-Tech to Data Analyst Transition Stories,UCh9nVJoWXmFb7sLApWGcLPQ,codebasics,2023-11-17T19:37:00Z,6.0
1,PLeo1K3hjS3uufBJODNXMY2VuDpFWrDJ3L,Gw6hVMzna7g,Hacks for Moms With a Career Break to Become a...,2023-05-25T13:30:11Z,16392,547.0,55.0,PT49M2S,hd,"['nurse', 'mom', 'how to be a data analyst wit...",en,False,Non-Tech to Data Analyst Transition Stories,UCh9nVJoWXmFb7sLApWGcLPQ,codebasics,2023-11-17T19:37:00Z,6.0
2,PLeo1K3hjS3uufBJODNXMY2VuDpFWrDJ3L,4BLxapDqrlA,Mechanical Engineer To Data Analyst,2021-03-11T14:30:13Z,46730,1048.0,65.0,PT23M58S,hd,"['data analyst', 'michanical engineer to data ...",en,False,Non-Tech to Data Analyst Transition Stories,UCh9nVJoWXmFb7sLApWGcLPQ,codebasics,2023-11-17T19:37:00Z,6.0
3,PLeo1K3hjS3uufBJODNXMY2VuDpFWrDJ3L,lqEzYDuTnvU,How B com graduate became a data analyst | Dat...,2020-06-15T16:00:09Z,167925,4524.0,339.0,PT39M16S,hd,"['bcom to data analyst career transition', 'b ...",en,False,Non-Tech to Data Analyst Transition Stories,UCh9nVJoWXmFb7sLApWGcLPQ,codebasics,2023-11-17T19:37:00Z,6.0
4,PLeo1K3hjS3uufBJODNXMY2VuDpFWrDJ3L,uSLQKYsEYMo,Data Analyst at FORD after 7 years in Mechanic...,2023-08-01T13:30:12Z,15376,403.0,18.0,PT39M32S,hd,"['yt:cc=on', 'career transition', 'mechanical ...",en,False,Non-Tech to Data Analyst Transition Stories,UCh9nVJoWXmFb7sLApWGcLPQ,codebasics,2023-11-17T19:37:00Z,6.0

In [60]:
df_comments.head()

,Comment_id,author,Reply_for,Type,video_id,total_reply,like_count,published_at,textdisplay,updatedat
0,UgxFerT1dZpZU7jNrqN4AaABAg,@vidhyasreeraj4566,NaN,1.0,in3IB45YEgY,0.0,0.0,2023-08-26T15:08:53Z,Hi sir I&#39;m a banker if I switch from bank ...,2023-08-26T15:08:53Z
1,Ugy9fTq06chcSjLTEGV4AaABAg,@gaganratra,NaN,1.0,in3IB45YEgY,0.0,0.0,2023-05-17T10:34:48Z,I want to ask that I want to go for a career s...,2023-05-17T10:34:48Z
2,Ugx1qwspNVkAMjq1mrV4AaABAg,@blindfannn,NaN,1.0,in3IB45YEgY,1.0,0.0,2023-03-27T11:09:30Z,"Sir mine age is 30 , mechanical Engineer , 8 y...",2023-03-27T11:09:30Z
3,Ugx1qwspNVkAMjq1mrV4AaABAg.9nl4OUUvA-J9nmvAAv6heL,@codebasics,Ugx1qwspNVkAMjq1mrV4AaABAg,2.0,in3IB45YEgY,0.0,0.0,2023-03-28T04:18:39Z,For you the best thing is to follow data analy...,2023-03-28T04:18:39Z
4,Ugy6wecqHKcGHBLkKQ94AaABAg,@JeGa555,NaN,1.0,in3IB45YEgY,3.0,0.0,2023-03-24T07:44:56Z,I did Bachelor of Accounting worked as an acco...,2023-03-24T07:45:35Z

### The size of the datasets

#### Videos section

In [61]:
print('Rows:', df_videos.shape[0])
print('Columns:', df_videos.shape[1])

Rows: 4535
Columns: 17

#### Comments section

In [62]:
print('Rows:', df_comments.shape[0])
print('Columns:', df_comments.shape[1])

Rows: 124860
Columns: 10

### The meaning of each column

**Videos dataset**
- `playlist_id`: Playlist ID.
- `video_id`: Video ID.
- `title`: Video title.
- `published`: Publication date of the video.
- `view_count`: The video's view count.
- `like_count`: The video's like count.
- `comment_count`: The video's comment count.
- `duration`: How long the video is.
- `definition`: How much information is captured and reproduced (eg. hd, sd).
- `tags`: Tags of the video.
- `default_audio_language`: Default audio language of the video.
- `madeforkid`: Mark if this video is made for kids or not.
- `playlist_title`: Playlist title.
- `channel_id`: The channel ID.
- `channelTitle`: The channel title.
- `playlist_published`: Publication date of the channel.
- `playlist_numvideo`: The number of videos in playlist.

**Comments dataset**
- `Comment_id`: Comment ID.
- `author`: Author of the comment.
- `Reply_for`: The parent comment ID that this comment replied to.
- `Type`: Type of comment (top-level comment (1) or reply(2)).
- `video_id`: The video ID.
- `total_reply`: Total responses to this comment.
- `like_count`: The comment's like count.
- `published_at`: Publication date of the comment.
- `textdisplay`: The content of the comment.
- `updatedat`: The comment's updated date.

### Duplicated rows

#### Videos section

How many duplicated rows do the `df_videos` have?

In [63]:
df_videos.duplicated().sum()

54

In [64]:
df_videos[df_videos.duplicated(keep = False)]

,playlist_id,video_id,title,published,view_count,like_count,comment_count,duration,definition,tags,default_audio_language,madeforkid,playlist_title,channel_id,channelTitle,playlist_published,playlist_numvideo
780,NaN,yboN-5jHVAY,SQL Job Options | Career Paths After Learning SQL,2023-01-05T14:00:08Z,28105,773.0,47.0,PT5M49S,hd,"['yt:cc=on', 'sql career', 'sql career path', ...",en,False,NaN,NaN,NaN,NaN,NaN
781,NaN,yboN-5jHVAY,SQL Job Options | Career Paths After Learning SQL,2023-01-05T14:00:08Z,28105,773.0,47.0,PT5M49S,hd,"['yt:cc=on', 'sql career', 'sql career path', ...",en,False,NaN,NaN,NaN,NaN,NaN
784,NaN,sHw5hLYFaIw,Regular Expression Tutorial Python | Python Re...,2021-12-01T13:00:11Z,86365,2529.0,114.0,PT25M29S,hd,"['yt:cc=on', 'regular expression examples', 'r...",en,False,NaN,NaN,NaN,NaN,NaN
785,NaN,iaeKdiBu5Hs,Do people really get a Job via Job guarantee p...,2023-01-24T13:30:25Z,27278,575.0,160.0,PT5M22S,hd,"['yt:cc=on', 'job guarantee program', 'job gua...",en,False,NaN,NaN,NaN,NaN,NaN
786,NaN,6jfARpCukyo,Pandas Memory Optimization Tips,2022-08-01T14:30:01Z,5526,253.0,11.0,PT3M55S,hd,"['yt:cc=on', 'pandas memory optimization tips'...",en,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4025,NaN,hVLaRQ3TjGk,Why you need Privileged Account Management,2022-09-26T14:21:06Z,11849,411.0,16.0,PT4M20S,hd,"['IBM', 'IBM Cloud', 'Security', 'IT', 'Passwo...",en-US,False,NaN,NaN,NaN,NaN,NaN
4026,NaN,3fsy2oheRdg,Machine Learning Basics: Supervised v Unsuperv...,2022-09-19T16:41:21Z,11819,349.0,10.0,PT6M13S,hd,"['IBM', 'IBM Cloud', 'Supervised', 'unsupervis...",en-US,False,NaN,NaN,NaN,NaN,NaN
4027,NaN,ecvCfTPRBrI,Your Encryption Isn't Quantum Safe,2023-03-27T11:00:22Z,16878,715.0,33.0,PT9M22S,hd,"['IBM', 'IBM Cloud']",en-US,False,NaN,NaN,NaN,NaN,NaN
4161,NaN,bJ7beeCDpyo,IBM Keynote at Virtual AI Summit London 2020,2020-09-02T14:49:07Z,2733,29.0,2.0,PT14M52S,hd,"['AI Summit', 'AI Summit London 2020', 'IBM Cl...",en-US,False,NaN,NaN,NaN,NaN,NaN
4166,NaN,bJ7beeCDpyo,IBM Keynote at Virtual AI Summit London 2020,2020-09-02T14:49:07Z,2733,29.0,2.0,PT14M52S,hd,"['AI Summit', 'AI Summit London 2020', 'IBM Cl...",en-US,False,NaN,NaN,NaN,NaN,NaN

#### Comments section

How many duplicated rows do the `df_comments` have?

In [65]:
df_comments.duplicated().sum()

27958

In [66]:
df_comments[df_comments.duplicated(keep = False)]

,Comment_id,author,Reply_for,Type,video_id,total_reply,like_count,published_at,textdisplay,updatedat
0,UgxFerT1dZpZU7jNrqN4AaABAg,@vidhyasreeraj4566,NaN,1.0,in3IB45YEgY,0.0,0.0,2023-08-26T15:08:53Z,Hi sir I&#39;m a banker if I switch from bank ...,2023-08-26T15:08:53Z
1,Ugy9fTq06chcSjLTEGV4AaABAg,@gaganratra,NaN,1.0,in3IB45YEgY,0.0,0.0,2023-05-17T10:34:48Z,I want to ask that I want to go for a career s...,2023-05-17T10:34:48Z
2,Ugx1qwspNVkAMjq1mrV4AaABAg,@blindfannn,NaN,1.0,in3IB45YEgY,1.0,0.0,2023-03-27T11:09:30Z,"Sir mine age is 30 , mechanical Engineer , 8 y...",2023-03-27T11:09:30Z
3,Ugx1qwspNVkAMjq1mrV4AaABAg.9nl4OUUvA-J9nmvAAv6heL,@codebasics,Ugx1qwspNVkAMjq1mrV4AaABAg,2.0,in3IB45YEgY,0.0,0.0,2023-03-28T04:18:39Z,For you the best thing is to follow data analy...,2023-03-28T04:18:39Z
4,Ugy6wecqHKcGHBLkKQ94AaABAg,@JeGa555,NaN,1.0,in3IB45YEgY,3.0,0.0,2023-03-24T07:44:56Z,I did Bachelor of Accounting worked as an acco...,2023-03-24T07:45:35Z
...,...,...,...,...,...,...,...,...,...,...
123965,UgyvkImgyMARiDU6MdB4AaABAg.9WFGhxhDAVr9WFbb38l_bC,@Sanatos98,UgyvkImgyMARiDU6MdB4AaABAg,2.0,30hS-MjpU6E,0.0,3.0,2021-12-22T11:08:25Z,Yes!,2021-12-22T11:08:25Z
123966,UgyvkImgyMARiDU6MdB4AaABAg.9WFGhxhDAVr9WGCZjZYMxg,@stratascratch,UgyvkImgyMARiDU6MdB4AaABAg,2.0,30hS-MjpU6E,0.0,4.0,2021-12-22T16:40:09Z,Whoops. Yes! haha sorry about that.,2021-12-22T16:40:09Z
123967,UgzqhTHlXUZ2pfDYfFl4AaABAg,@BBBBBBAAAl,NaN,1.0,30hS-MjpU6E,0.0,0.0,2021-12-22T07:21:08Z,perfect,2021-12-22T07:21:08Z
123968,UgzBic3dV-2aAjA6BMZ4AaABAg,@rishikeshbharti5064,NaN,1.0,30hS-MjpU6E,0.0,0.0,2021-12-22T06:49:20Z,GREAT VIDEO🔥🔥,2021-12-22T06:49:20Z
123969,UgyvjYuYzTneZ934OHV4AaABAg,@raxmatillomaribjonov3787,NaN,1.0,30hS-MjpU6E,0.0,0.0,2021-12-22T03:35:00Z,thanks👍,2021-12-22T03:35:00Z

#### Drop duplicate rows

In [67]:
df_videos = df_videos.drop_duplicates()
df_comments = df_comments.drop_duplicates()

### Current column types in datasets

#### Videos section

In [68]:
df_videos.dtypes

playlist_id                object
video_id                   object
title                      object
published                  object
view_count                  int64
like_count                float64
comment_count             float64
duration                   object
definition                 object
tags                       object
default_audio_language     object
madeforkid                   bool
playlist_title             object
channel_id                 object
channelTitle               object
playlist_published         object
playlist_numvideo         float64
dtype: object

The following fields need to be converted to the specified data types:
- `published` and `playlist_published` to datetime.
- `duration` to timedelta.
- `tags` to a list of strings.

In [69]:
df_videos['published'] =  df_videos['published'].apply(pd.to_datetime)
df_videos['duration'] = df_videos['duration'].apply(pd.to_timedelta)
df_videos['tags'] = df_videos['tags'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else np.nan)
df_videos['playlist_published'] = df_videos['playlist_published'].apply(pd.to_datetime)

#### Comments section

In [70]:
df_comments.dtypes

Comment_id       object
author           object
Reply_for        object
Type            float64
video_id         object
total_reply     float64
like_count      float64
published_at     object
textdisplay      object
updatedat        object
dtype: object

The `published_at` and `updatedat` fields need to be converted to datetime.

In [71]:
df_comments['published_at'] =  df_comments['published_at'].apply(pd.to_datetime)
df_comments['updatedat'] =  df_comments['updatedat'].apply(pd.to_datetime)

Next, we will drop columns that are unnecessary for subsequent steps.

In [72]:
df_videos = df_videos.drop(columns = ['playlist_id', 'channel_id'])
df_comments = df_comments.drop(columns = ['Comment_id'])

### Distribution of Values for Numeric Columns

In [73]:
def num_missing_ratio(column):
    return (column.isnull().sum() / len(column) * 100).round(1)

def num_lower_quartile(column):
    return column.quantile(0.25)

def num_median(column):
    return column.quantile(0.5)

def num_upper_quartile(column):
    return column.quantile(0.75)

num_types = ['int64', 'float64']

In [74]:
num_col_info_df_videos = df_videos.select_dtypes(include = num_types)

num_col_info_df_videos = num_col_info_df_videos.agg([num_missing_ratio, "min", num_lower_quartile, num_median, num_upper_quartile, "max"])
num_col_info_df_videos

                    view_count  like_count  comment_count  playlist_numvideo
num_missing_ratio          0.0        1.00            0.0               20.1
min                        3.0        0.00            0.0                1.0
num_lower_quartile      7498.0      231.00           12.0               20.0
num_median             37309.0     1060.00           55.0               66.0
num_upper_quartile    124334.0     4219.25          218.0              550.0
max                  9692981.0   359193.00         8388.0              778.0

In [75]:
num_col_info_df_comments = df_comments.select_dtypes(include = num_types)

num_col_info_df_comments = num_col_info_df_comments.agg([num_missing_ratio, "min", num_lower_quartile, num_median, num_upper_quartile, "max"])
num_col_info_df_comments

                    Type  total_reply  like_count
num_missing_ratio    0.0          0.0         0.0
min                  1.0          0.0         0.0
num_lower_quartile   1.0          0.0         0.0
num_median           1.0          0.0         0.0
num_upper_quartile   1.0          0.0         1.0
max                  2.0        213.0     24458.0

### Distribution of Values for Non-numeric Columns

In [76]:
def cat_missing_ratio(column):
    return (column.isnull().sum() / len(column) * 100).round(1)

def cat_num_values(column):
    if type(column[0] == 'list'):
        column = column.explode()
    return column.nunique()

def cat_value_ratios(column):
    if type(column[0] == 'list'):
        column = column.explode()
    return column.value_counts(normalize=True).sort_values(axis = 0).to_dict()

In [77]:
cat_col_info_df_videos = df_videos.select_dtypes(exclude = num_types)

cat_col_info_df_videos = cat_col_info_df_videos.agg([cat_missing_ratio, cat_num_values, cat_value_ratios])
cat_col_info_df_videos

,video_id,title,published,duration,definition,tags,default_audio_language,madeforkid,playlist_title,channelTitle,playlist_published
cat_missing_ratio,0.0,0.0,0.0,0.0,0.0,8.2,6.8,0.0,20.1,20.1,20.1
cat_num_values,3179,3172,3153,1226,2,16438,3,1,158,7,158
cat_value_ratios,"{'mM5RtlMINS0': 0.0002231644722160232, 'mdQRqb...",{'Who is stronger - the brain or artificial in...,{2023-12-20 14:00:20+00:00: 0.0002231644722160...,"{0 days 00:11:00: 0.0002231644722160232, 0 day...","{'sd': 0.0008926578888640928, 'hd': 0.99910734...",{'array indexing and accessing single elements...,"{'hi': 0.0028728752693320567, 'en-US': 0.15322...",{False: 1.0},{'Entrepreneur Conversations': 0.0002792516056...,"{'Abhishek Thakur': 0.029879921809550406, 'Str...",{2021-05-28 11:01:05+00:00: 0.0002792516056967...

In [78]:
cat_col_info_df_comments = df_comments.select_dtypes(exclude = num_types)

cat_col_info_df_comments = cat_col_info_df_comments.agg([cat_missing_ratio, cat_num_values, cat_value_ratios])
cat_col_info_df_comments

,author,Reply_for,video_id,published_at,textdisplay,updatedat
cat_missing_ratio,0.0,75.6,0.0,0.0,0.0,0.0
cat_num_values,61007,14379,2266,96799,91078,96791
cat_value_ratios,"{'@viorelanghel5532': 1.0319917440660475e-05, ...",{'UgwxuDOHqwEychX2Q0l4AaABAg': 4.2372881355932...,"{'URQGP7_RzZM': 1.0319704443664734e-05, 'QJ2tG...",{2020-05-06 23:02:19+00:00: 1.0319704443664734...,{'I love Gitlab. Glad to see this integration!...,{2020-04-13 20:00:34+00:00: 1.0319704443664734...

`Reply_for` has a very high missing value so we decided to drop it.

In [79]:
df_comments = df_comments.drop(columns = ['Reply_for'])

### Save the processed data

In [80]:
processed_data_path = '../data/processed/'

df_videos.to_csv(processed_data_path + 'df_videos_processed.csv', index = False)
df_comments.to_csv(processed_data_path + 'df_comments_processed.csv', index = False)