<div style="text-align: center; background-color: #559cff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Lab 02 - Introduction To Data Science @ FIT-HCMUS, VNU-HCM üìå
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Preprocessing
</div>

## Import

In [1]:
import os
import sys
import json
import ast

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Exploring data

### Combine raw data into dataframes for both video and comment sections

In [2]:
raw_data_path = '../data/raw/'

with open('../data/external/channel_id_Phuc.json', 'r') as file:
    channel_id = json.load(file)

list_df_videos = []
list_df_comments = []

for channel, id in channel_id.items():
    list_df_videos.append(pd.read_csv(raw_data_path + channel + '_videos.csv'))
    list_df_comments.append(pd.read_csv(raw_data_path + channel + '_comments.csv', \
                                        encoding = 'utf-8', lineterminator = '\n'))
    
df_videos = pd.concat(list_df_videos, ignore_index = True)
df_comments = pd.concat(list_df_comments, ignore_index = True)

In [3]:
df_videos.head()

,playlist_id,video_id,title,published,view_count,like_count,comment_count,duration,definition,tags,default_audio_language,madeforkid,playlist_title,channel_id,channelTitle,playlist_published,playlist_numvideo
0,PLkDaE6sCZn6HJ1XrZLpKeWQN5XMKhEz_V,H_8ZVRRtiIA,"#1 AI for Good Specialization [Course 1, Week ...",2023-11-17T21:49:15Z,1671,34.0,1.0,PT10M1S,hd,NaN,en,False,AI for Good Specialization by DeepLearning.AI,UCcIXc5mJsHVYTZR1maL5l9w,DeepLearningAI,2023-07-20T17:01:28Z,37.0
1,PLkDaE6sCZn6HJ1XrZLpKeWQN5XMKhEz_V,bZwkaVnhEo4,"#2 AI for Good Specialization [Course 1, Week ...",2023-07-27T16:54:21Z,1299,18.0,1.0,PT7M12S,hd,NaN,en,False,AI for Good Specialization by DeepLearning.AI,UCcIXc5mJsHVYTZR1maL5l9w,DeepLearningAI,2023-07-20T17:01:28Z,37.0
2,PLkDaE6sCZn6HJ1XrZLpKeWQN5XMKhEz_V,hkOosfWxBK4,"#3 AI for Good Specialization [Course 1, Week ...",2023-11-17T20:13:19Z,584,20.0,2.0,PT3M47S,hd,NaN,en,False,AI for Good Specialization by DeepLearning.AI,UCcIXc5mJsHVYTZR1maL5l9w,DeepLearningAI,2023-07-20T17:01:28Z,37.0
3,PLkDaE6sCZn6HJ1XrZLpKeWQN5XMKhEz_V,OIavgUGg7mc,"#4 AI for Good Specialization [Course 1, Week ...",2023-07-27T16:54:56Z,619,10.0,0.0,PT4M49S,hd,NaN,en,False,AI for Good Specialization by DeepLearning.AI,UCcIXc5mJsHVYTZR1maL5l9w,DeepLearningAI,2023-07-20T17:01:28Z,37.0
4,PLkDaE6sCZn6HJ1XrZLpKeWQN5XMKhEz_V,eZZwySXsj-g,"#5 AI for Good Specialization [Course 1, Week ...",2023-07-27T16:55:12Z,579,3.0,0.0,PT5M36S,hd,NaN,en,False,AI for Good Specialization by DeepLearning.AI,UCcIXc5mJsHVYTZR1maL5l9w,DeepLearningAI,2023-07-20T17:01:28Z,37.0

In [4]:
df_comments.head()

,Comment_id,author,Reply_for,Type,video_id,total_reply,like_count,published_at,textdisplay,updatedat
0,Ugw5fySq5NxfwgCuFhB4AaABAg,@AiexpertRajivVerma,NaN,1,H_8ZVRRtiIA,0,0,2023-12-11T01:11:19Z,Sir thank you love love üíï‚ù§Ô∏è‚ù§‚ù§Ô∏è‚ù§‚ù§‚ù§‚ù§‚ù§‚ù§ you for f...,2023-12-11T01:11:19Z
1,Ugw_73FC0tI1B6PW9nh4AaABAg,@hamasali8764,NaN,1,bZwkaVnhEo4,0,0,2023-07-27T16:54:52Z,Best Oneüéâ,2023-07-27T16:54:52Z
2,Ugx1qnyHmXF9-BjhIWR4AaABAg,@R0H00,NaN,1,hkOosfWxBK4,0,1,2023-11-18T02:51:01Z,"Hi, I&#39;m a clinician who is working in the ...",2023-11-18T02:51:01Z
3,UgyNZvEu-Ht9ZlLwOXp4AaABAg,@nitinsnoisepollution6293,NaN,1,hkOosfWxBK4,0,0,2023-11-17T20:39:13Z,Superb üéâ‚ù§,2023-11-17T20:39:13Z
4,UgzAxiiLaxyBHEcRw0R4AaABAg,@REDBONDYT,NaN,1,Fxq6vjJwX3o,0,1,2023-07-30T12:36:13Z,Very informative üòÉüò∫,2023-07-30T12:36:13Z

### The size of the datasets

#### Videos section

In [5]:
print('Rows:', df_videos.shape[0])
print('Columns:', df_videos.shape[1])

Rows: 3133
Columns: 17

#### Comments section

In [6]:
print('Rows:', df_comments.shape[0])
print('Columns:', df_comments.shape[1])

Rows: 55768
Columns: 10

### The meaning of each column

**Videos dataset**
- `playlist_id`: Playlist ID.
- `video_id`: Video ID.
- `title`: Video title.
- `published`: Publication date of the video.
- `view_count`: The video's view count.
- `like_count`: The video's like count.
- `comment_count`: The video's comment count.
- `duration`: How long the video is.
- `definition`: How much information is captured and reproduced (eg. hd, sd).
- `tags`: Tags of the video.
- `default_audio_language`: Default audio language of the video.
- `madeforkid`: Mark if this video is made for kids or not.
- `playlist_title`: Playlist title.
- `channel_id`: The channel ID.
- `channelTitle`: The channel title.
- `playlist_published`: Publication date of the channel.
- `playlist_numvideo`: The number of videos in playlist.

**Comments dataset**
- `Comment_id`: Comment ID.
- `author`: Author of the comment.
- `Reply_for`: The parent comment ID that this comment replied to.
- `Type`: Type of comment (top-level comment (1) or reply(2)).
- `video_id`: The video ID.
- `total_reply`: Total responses to this comment.
- `like_count`: The comment's like count.
- `published_at`: Publication date of the comment.
- `textdisplay`: The content of the comment.
- `updatedat`: The comment's updated date.

### Duplicated rows

#### Videos section

How many duplicated rows do the `df_videos` have?

In [7]:
df_videos.duplicated().sum()

6

In [8]:
df_videos[df_videos.duplicated(keep = False)]

,playlist_id,video_id,title,published,view_count,like_count,comment_count,duration,definition,tags,default_audio_language,madeforkid,playlist_title,channel_id,channelTitle,playlist_published,playlist_numvideo
340,NaN,RLWuzLLSIgw,C5W3L03 Beam Search,2018-02-05T19:50:14Z,77373,1068.0,27.0,PT11M55S,hd,NaN,en,False,NaN,NaN,NaN,NaN,NaN
344,NaN,RLWuzLLSIgw,C5W3L03 Beam Search,2018-02-05T19:50:14Z,77373,1068.0,27.0,PT11M55S,hd,NaN,en,False,NaN,NaN,NaN,NaN,NaN
352,NaN,gb__z7LlN_4,C5W3L04 Refining Beam Search,2018-02-05T19:50:14Z,19388,261.0,10.0,PT11M1S,hd,NaN,en,False,NaN,NaN,NaN,NaN,NaN
365,NaN,gb__z7LlN_4,C5W3L04 Refining Beam Search,2018-02-05T19:50:14Z,19388,261.0,10.0,PT11M1S,hd,NaN,en,False,NaN,NaN,NaN,NaN,NaN
809,PLjgj6kdf_snYlCntNF_Ms0OZXIHiAi_ee,jA0-O5wX_VQ,For and While Loops in Python | Databytes | Py...,2022-05-20T11:02:41Z,1203,23.0,0.0,PT7M18S,hd,"['Data Science', 'Python', 'Python basics', 'p...",en-US,False,DataBytes,UC79Gv3mYp6zKiSwYemEik9A,DataCamp,2022-05-20T10:58:10Z,8.0
812,PLjgj6kdf_snYlCntNF_Ms0OZXIHiAi_ee,jA0-O5wX_VQ,For and While Loops in Python | Databytes | Py...,2022-05-20T11:02:41Z,1203,23.0,0.0,PT7M18S,hd,"['Data Science', 'Python', 'Python basics', 'p...",en-US,False,DataBytes,UC79Gv3mYp6zKiSwYemEik9A,DataCamp,2022-05-20T10:58:10Z,8.0
1180,NaN,Mn3UcNbdneg,"How He Got Multiple Job Offers from FAANG, How...",2022-07-28T16:08:08Z,19979,656.0,23.0,PT53M52S,hd,NaN,en,False,NaN,NaN,NaN,NaN,NaN
1181,NaN,Mn3UcNbdneg,"How He Got Multiple Job Offers from FAANG, How...",2022-07-28T16:08:08Z,19979,656.0,23.0,PT53M52S,hd,NaN,en,False,NaN,NaN,NaN,NaN,NaN
2292,PLaFfQroTgZnw0UoIONpfQWJTldKqjEtZ3,AHR_7jFCMeY,What Is a Data Warehouse?,2020-06-04T15:59:57Z,268060,5885.0,74.0,PT3M32S,hd,"['What is Data Warehouse', 'data warehouse', '...",en,False,Data Science Videos,UCEBpSZhI1X8WaP-kY_2LLcg,365 Data Science,2019-08-08T11:08:27Z,32.0
2293,PLaFfQroTgZnw0UoIONpfQWJTldKqjEtZ3,AHR_7jFCMeY,What Is a Data Warehouse?,2020-06-04T15:59:57Z,268060,5885.0,74.0,PT3M32S,hd,"['What is Data Warehouse', 'data warehouse', '...",en,False,Data Science Videos,UCEBpSZhI1X8WaP-kY_2LLcg,365 Data Science,2019-08-08T11:08:27Z,32.0
2422,NaN,UGj0bOYPdCw,Why Learn Python in 2022?,2021-01-13T15:00:20Z,72806,1501.0,28.0,PT6M24S,hd,"['data science', '365 datascience', '365datasc...",en,False,NaN,NaN,NaN,NaN,NaN
2423,NaN,UGj0bOYPdCw,Why Learn Python in 2022?,2021-01-13T15:00:20Z,72806,1501.0,28.0,PT6M24S,hd,"['data science', '365 datascience', '365datasc...",en,False,NaN,NaN,NaN,NaN,NaN

#### Comments section

How many duplicated rows do the `df_comments` have?

In [9]:
df_comments.duplicated().sum()

5750

In [10]:
df_comments[df_comments.duplicated(keep = False)]

,Comment_id,author,Reply_for,Type,video_id,total_reply,like_count,published_at,textdisplay,updatedat
4233,UgxFhnV-GMjQooTuN_x4AaABAg,@tristandevignemont1291,NaN,1,QCX62YJCmGk,0,0,2023-12-21T22:48:29Z,Math became magic,2023-12-21T22:48:29Z
4234,UgyypszzOn4EYj4f32Z4AaABAg,@unveil7762,NaN,1,QCX62YJCmGk,0,0,2023-12-21T17:26:39Z,GLSL Time‚Ä¶. I will watch the end of the video ...,2023-12-21T17:27:48Z
4235,UgxcQbUsvUC9EJ4kJx94AaABAg,@aabnamak,NaN,1,QCX62YJCmGk,0,0,2023-12-21T06:22:41Z,I wonder what would happen if we had a longer ...,2023-12-21T06:22:41Z
4236,Ugw1Cn0ITqQB6MSXKMd4AaABAg,@geo17139,NaN,1,QCX62YJCmGk,0,0,2023-12-20T19:28:45Z,This is the same thing with a video with some ...,2023-12-20T19:28:45Z
4237,UgxSc42BmaQ54IJ1uF54AaABAg,@sidereon9793,NaN,1,QCX62YJCmGk,0,0,2023-12-19T05:25:27Z,"(me, having taken exactly one Astronomy class ...",2023-12-19T05:25:27Z
...,...,...,...,...,...,...,...,...,...,...
55527,UgyqLroTcV3xH5BDXNt4AaABAg,@Datasciencedojo,NaN,1,S5oM_WWjoL4,0,0,2023-10-12T17:45:23Z,This playlist is your passport to unlocking th...,2023-10-12T17:45:23Z
55657,UgynrsvKT143pQJf6Ol4AaABAg,@Datasciencedojo,NaN,1,AF1WZJM_YtY,0,0,2023-08-30T17:11:10Z,For more captivating community talks featuring...,2023-08-30T17:11:10Z
55658,Ugy-sJNCCQJDwiM4aLd4AaABAg,@sarmale-cu-mamaliga,NaN,1,AF1WZJM_YtY,0,0,2023-06-12T10:47:36Z,"Nice, thank you ü•Äüåöüåù",2023-06-12T10:47:36Z
55659,UgxaSmjNi3GN1TN6rIN4AaABAg,@ayokuusiberabiu6085,NaN,1,AF1WZJM_YtY,0,1,2023-01-04T15:51:08Z,Thanks for sharing this. It&#39;s highly infor...,2023-01-04T15:51:08Z
55665,UgyT98dLG5GbQz6fWPx4AaABAg,@Datasciencedojo,NaN,1,nqdwJmJHO2U,0,0,2023-08-30T17:25:11Z,For more captivating community talks featuring...,2023-08-30T17:25:11Z

#### Drop duplicate rows

In [11]:
df_videos = df_videos.drop_duplicates()
df_comments = df_comments.drop_duplicates()

### Current column types in datasets

#### Videos section

In [12]:
df_videos.dtypes

playlist_id                object
video_id                   object
title                      object
published                  object
view_count                  int64
like_count                float64
comment_count             float64
duration                   object
definition                 object
tags                       object
default_audio_language     object
madeforkid                   bool
playlist_title             object
channel_id                 object
channelTitle               object
playlist_published         object
playlist_numvideo         float64
dtype: object

The following fields need to be converted to the specified data types:
- `published` and `playlist_published` to datetime.
- `duration` to timedelta.
- `tags` to a list of strings.

In [13]:
df_videos['published'] =  df_videos['published'].apply(pd.to_datetime)
df_videos['duration'] = df_videos['duration'].apply(pd.to_timedelta)
df_videos['tags'] = df_videos['tags'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else np.nan)
df_videos['playlist_published'] = df_videos['playlist_published'].apply(pd.to_datetime)

#### Comments section

In [14]:
df_comments.dtypes

Comment_id      object
author          object
Reply_for       object
Type             int64
video_id        object
total_reply      int64
like_count       int64
published_at    object
textdisplay     object
updatedat       object
dtype: object

The `published_at` and `updatedat` fields need to be converted to datetime.

In [15]:
df_comments['published_at'] =  df_comments['published_at'].apply(pd.to_datetime)
df_comments['updatedat'] =  df_comments['updatedat'].apply(pd.to_datetime)

Next, we will drop columns that are unnecessary for subsequent steps.

In [16]:
df_videos = df_videos.drop(columns = ['playlist_id', 'channel_id'])
df_comments = df_comments.drop(columns = ['Comment_id'])

### Distribution of Values for Numeric Columns

In [17]:
def num_missing_ratio(column):
    return (column.isnull().sum() / len(column) * 100).round(1)

def num_lower_quartile(column):
    return column.quantile(0.25)

def num_median(column):
    return column.quantile(0.5)

def num_upper_quartile(column):
    return column.quantile(0.75)

num_types = ['int64', 'float64']

In [18]:
num_col_info_df_videos = df_videos.select_dtypes(include = num_types)

num_col_info_df_videos = num_col_info_df_videos.agg([num_missing_ratio, "min", num_lower_quartile, num_median, num_upper_quartile, "max"])
num_col_info_df_videos

                    view_count  like_count  comment_count  playlist_numvideo
num_missing_ratio          0.0         0.1            0.7                5.8
min                        8.0         0.0            0.0                1.0
num_lower_quartile      4565.5        86.0            5.0                9.0
num_median             33655.0       616.0           43.5               17.0
num_upper_quartile    186272.0      3968.0          246.0               37.0
max                 33858759.0   1041201.0        34547.0              170.0

In [19]:
num_col_info_df_comments = df_comments.select_dtypes(include = num_types)

num_col_info_df_comments = num_col_info_df_comments.agg([num_missing_ratio, "min", num_lower_quartile, num_median, num_upper_quartile, "max"])
num_col_info_df_comments

                    Type  total_reply  like_count
num_missing_ratio    0.0          0.0         0.0
min                  1.0          0.0         0.0
num_lower_quartile   1.0          0.0         0.0
num_median           1.0          0.0         0.0
num_upper_quartile   1.0          0.0         1.0
max                  2.0        457.0     65952.0

### Distribution of Values for Non-numeric Columns

In [20]:
def cat_missing_ratio(column):
    return (column.isnull().sum() / len(column) * 100).round(1)

def cat_num_values(column):
    if type(column[0] == 'list'):
        column = column.explode()
    return column.nunique()

def cat_value_ratios(column):
    if type(column[0] == 'list'):
        column = column.explode()
    return column.value_counts(normalize=True).sort_values(axis = 0).to_dict()

In [21]:
cat_col_info_df_videos = df_videos.select_dtypes(exclude = num_types)

cat_col_info_df_videos = cat_col_info_df_videos.agg([cat_missing_ratio, cat_num_values, cat_value_ratios])
cat_col_info_df_videos

,video_id,title,published,duration,definition,tags,default_audio_language,madeforkid,playlist_title,channelTitle,playlist_published
cat_missing_ratio,0.0,0.0,0.0,0.0,0.0,18.6,5.9,0.0,5.8,5.8,5.8
cat_num_values,2756,2746,2626,1681,2,11262,6,2,259,11,261
cat_value_ratios,"{'ZdDUwlwJNi0': 0.0003197953309881676, 'j2nGxw...",{'How to Run Data Science Projects on the Clou...,{2021-04-11 12:58:39+00:00: 0.0003197953309881...,"{0 days 01:06:19: 0.0003197953309881676, 0 day...","{'sd': 0.03517748640869843, 'hd': 0.9648225135...","{'nerd writer essays': 3.0389594602808e-05, 'e...","{'zxx': 0.0003399048266485384, 'en-IN': 0.0003...","{True: 0.0009593859929645027, False: 0.9990406...",{'Coding Interview Questions Video Explanation...,"{'CS Dojo': 0.024448217317487267, 'Joma Tech':...",{2020-12-12 17:47:29+00:00: 0.0003395585738539...

In [22]:
cat_col_info_df_comments = df_comments.select_dtypes(exclude = num_types)

cat_col_info_df_comments = cat_col_info_df_comments.agg([cat_missing_ratio, cat_num_values, cat_value_ratios])
cat_col_info_df_comments

,author,Reply_for,video_id,published_at,textdisplay,updatedat
cat_missing_ratio,0.0,77.4,0.0,0.0,0.0,0.0
cat_num_values,36696,7035,1732,49993,46892,49991
cat_value_ratios,"{'@jaychopra8932': 1.9993202311214188e-05, '@B...",{'UgysvnEoB9XlHNwqUxR4AaABAg': 8.8526912181303...,"{'D3Qgo2hAv8o': 1.9992802591067215e-05, 'a0Wen...",{2022-04-03 13:22:20+00:00: 1.9992802591067215...,{'Anyone from Mr Mousa‚Äôs class?': 1.9992802591...,{2021-10-19 18:49:15+00:00: 1.9992802591067215...

`Reply_for` has a very high missing value so we decided to drop it.

In [23]:
df_comments = df_comments.drop(columns = ['Reply_for'])

### Save the processed data

In [24]:
processed_data_path = '../data/processed/'

df_videos.to_csv(processed_data_path + 'df_videos_processed.csv', index = False)
df_comments.to_csv(processed_data_path + 'df_comments_processed.csv', index = False)